body {
  border: 12px solid lightgray;
}
.container1, .container2, .container3 {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container1, .container3 {
  background-color: lightgray;
}

.container2 {
  background-color: #FFF;
}

h5 {
  font-weight: 200;
}

#image {
  height: auto;
  width: 100%;
}

ul {
  float: left;
}

li {
  text-align: left;
  width: 28rem;
  padding: 0 0 1.2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

span {
  font-size: 0.9rem;
  font-weight: normal;
}

.endQuote {
  text-align: left;
  font-style: italic;
}
