body {
  background: linear-gradient(217deg, skyblue, peachpuff, lime)
}

.container-fluid .row .col-sm-2:nth-child(even) {
  background-color: lime;
  mix-blend-mode: multiply
}

.container-fluid .row .col-sm-2:nth-child(even) img {
  width: 350px
}

.container-fluid .row .col-sm-2:nth-child(odd) {
  background-color: peachpuff;
  mix-blend-mode: saturation
}

.container-fluid .row .col-sm-2:nth-child(odd) img {
  width: 350px
}
